.landing-page{
  margin-left: 10%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

#landing-title{
  padding-top: 15%;
  padding-left: 12px;
  font-weight: 400;
}

#landing-text{
  padding-left: 12px;
  font-style: italic;
}
