.landing-page{
  margin-left: 13%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

#landing-title{
  padding-top: 15%;
  padding-left: 12px;
  font-weight: 400;
}

#landing-text{
  padding-left: 12px;
  font-style: italic;
}
@media only screen and (max-width: 750px) {
  .landing-page {
    margin-left: 0;
    padding-top: 10%;
    text-align: center;
  }

  #landing-title{
    padding-left: 0px;
  }

  #landing-text {
    padding-left: 0px;
  }
}