ul {
  list-style: none;
}

#nav {
  list-style-type: none;
  margin: -22px 0 0 0;
  padding: 0;
  width: 100px;
  min-width: fit-content;
  background-color: #909090;
  height: 110%; 
  position: fixed;
  overflow: auto;
  border: solid #000000 2px;
}

li {
  margin-top: 50px;
}

.nav-item {
  color:white;
  padding-right: 10px;
  font-size: 10px;
  text-decoration: none;
}

.nav-item:hover {
  color:rgb(0, 0, 0)
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #909090;
}
::-webkit-scrollbar-thumb {
  background: #000000;
}