.projects-page{
  margin-left: 10%;
}

.projects-page h1{
  font-weight: 400;
  padding-left: 40%;
  padding-top: 30px;
}

.projects{
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(3,50vmin);
  grid-gap: 20px;
}

.card {
  border: solid black 1px;
  margin-left: 10px;
  background-color: lightslategray;
}

.projects img {
  min-height: 155px;
}

.projects p {
  font-size: 12px;
}
.btn{
  margin-left: 20px;
}
