.skill-page{
  margin-left: 10%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.skill-page h1 {
  font-weight: 400;
  padding-left: 12px;
  padding-top: 10%;
}

.icons{
  padding-left: 12px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4,10vmin);
  grid-template-rows: repeat(4,10vmin);
  grid-column-gap: 5vmin;
}

